body{
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}

img{
    display: block;
    margin: auto;
    padding-top: 0px;
}

p{
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333333;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #222222;
    margin-top: 10px;
}

h2{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: #444444;
    margin-top: 15px;
}

h3{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 22px;
    color: #555555;
    margin-top: 10px;
}

li{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #666666;
    margin: 5px 0px;
}

ul{
    list-style-type: square;
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: #1a73e8;
}       